@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body style="background-color: lightpink">
        <div>
              @ViewBag.msg
        </div>
    </body>
</html>