@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <form  method="post">
            <input type="text" name="name"/>
            <input type="submit" name="name" value="Greet" />
        </form>
    </body>
</html>