@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Todo List</title>
    @RenderSection("head", false)
</head>
<body>
    <div>
        <h1>Todos</h1>
        <hr />
        <a href="/Todos/Add"> Add New </a>
        <hr />
        @RenderSection("content")
    </div>
</body>
</html>
